/* body {
    background-image: url(/static/img/robot.jpg);
} */

#signupLogin,
#loginPage {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signupLogin .card,
#loginPage .card {
    width: 32rem;
    padding: 24px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.45);
}

#signupLogin .card .card-img,
#loginPage .card .card-img {
    --size: 500px;
    height: var(--size);
    width: calc(var(--size)*2);
    background-image: url(/static/img/robot.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (width <= 768px) {
    .card{
        width: unset !important;
        flex-direction: column !important;
    }    
}