/* This file is part of the Laravel framework.
 * (c) Laravel <https://wazar.pk>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: #f6f6f6;
    --foreground: black;
    --white: 255, 255, 255;
    --color-primary: 20, 87, 230;
    --color-success: 23, 202, 104;
    --color-danger: 236, 95, 103;
    --color-warning: 245, 177, 75;
    --color-primary-hover: #e4efff;
    --color-secondary: white;
    --color-border: #eee;

    --bs-blue: rgb(var(--color-primary));
    --bs-primary: rgb(var(--color-primary));

    --body-padding: 32px;
    --table-cell-padding: 1rem;
    --border-radius: 8px;
    --sidebar-width: 250px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: .9rem;
    padding-top: 0;
    padding-left: 0;
    background-color: var(--background);
    background: radial-gradient(at bottom right, #1A8FE5 0, #1A8FE5 250px, #1A8FE533 250px, #1A8FE533 500px, #1A8FE5BF 500px, #1A8FE5BF 750px, #1A8FE540 750px, #1A8FE540 1000px, #1A8FE54D 1000px, #1A8FE54D 1250px, #1A8FE5BF 1250px, #1A8FE5BF 1500px, #1A8FE533 1500px, #1A8FE533 1750px, transparent 1750px, transparent 2000px), radial-gradient(at top left, transparent 0, transparent 250px, #1A8FE533 250px, #1A8FE533 500px, #1A8FE5BF 500px, #1A8FE5BF 750px, #1A8FE54D 750px, #1A8FE54D 1000px, #1A8FE540 1000px, #1A8FE540 1250px, #1A8FE5BF 1250px, #1A8FE5BF 1500px, #1A8FE533 1500px, #1A8FE533 1750px, #1A8FE5 1750px, #1A8FE5 2000px, transparent 2000px, transparent 5000px);
    background-blend-mode: multiply;
    background-size: 2000px 2000px, 2000px 2000px;
    background-color: #E4E4ED;
}

#content {
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.85);
    /* backdrop-filter: blur(4px); */
}

nav {
    top: 0;
    z-index: 98;
    height: 48px;
    padding: 0 16px;
    position: sticky;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 3%);
}

nav #burger-icon {
    display: none;
    font-size: 20px;
    border: none;
    background-color: transparent;
}

nav .btn.dropdown-toggle {
    box-shadow: none;
}

body>footer,
#content {
    margin-left: var(--sidebar-width);
}

aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--color-secondary);
    box-shadow: 2px 2px 4px rgb(0 0 0 / 3%);
}

aside header {
    gap: 16px;
    margin: 12px 0;
    display: flex;
    align-items: center;
}

aside header svg {
    --size: 48px;
    width: var(--size);
    height: var(--size);
}

aside .content ul,
aside footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

aside .content ul li,
aside footer ul li {
    display: flex;
    align-items: center;
}

aside .content ul li a,
aside footer ul li a {
    gap: 8px;
    width: 100%;
    padding: 6px 0.9rem;
    margin: 2px 5px;
    border-radius: var(--border-radius);
    display: flex;
    color: #494949;
    text-transform: capitalize;
    text-decoration: none;
    transition: background-color 200ms, translate 200ms;
}

aside .content ul li a.active,
aside footer ul li a.active,
aside .content ul li a:hover,
aside footer ul li a:hover {
    translate: 0 -2px;
    color: rgb(var(--color-primary));
    background-color: var(--color-primary-hover);
}

aside .content ul li a.active {
    position: relative;
}

aside .content ul li a.active::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: rgb(var(--color-primary));
    left: 0;
    top: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn,
aside footer ul li a:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

aside .content ul li a i,
aside footer ul li a i {
    font-size: 16px;
}

footer {
    margin-top: auto;
    display: block;
}

body>footer {
    padding: 0 1.5rem;
    font-size: 12px;
    background-color: var(--background) !important;
}

body>footer p {
    margin: 0;
}

.invalid {
    color: #f31212;
    font-size: 14px;
}

.sectionTitle {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.sectionTitle small {
    display: block;
    font-size: 0.8rem;
    font-weight: 400;
}

.card {
    position: relative;
    border-radius: 1rem;
    border-color: transparent;
}

.tiles .tile {
    position: relative;
    color: white;
    padding: 12px 20px !important;
    overflow: hidden;
    backdrop-filter: blur(4px);
    transition: all 200ms;
}

.tiles .tile.tile-primary {
    background: linear-gradient(to right,
            rgba(var(--color-primary), 1),
            rgba(var(--color-primary), .9));
}

.tiles .tile.tile-success {
    background: linear-gradient(to right,
            rgb(var(--color-success)),
            rgba(var(--color-success), .9));
}

.tiles .tile.tile-warning {
    background: linear-gradient(to right,
            rgb(var(--color-warning)),
            rgba(var(--color-warning), .9));
}

.tiles .tile.tile-danger {
    background: linear-gradient(to right,
            rgba(var(--color-danger), 1),
            rgba(var(--color-danger), .9));
}

.tile .head {
    font-size: 2.9rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.tile .title {
    translate: 0 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.tile .info-text {
    font-size: 0.9rem;
    translate: 0 100px;
    transition: all 0.3s ease;
}

.tile .card-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    line-height: 1;
    color: rgb(var(--white));
    height: 45px;
    width: 45px;
    background-color: rgba(var(--white), 0.2);
    border-radius: 50%;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    outline: 5px solid rgb(255 255 255 / 28%);
    outline-offset: 3px;
}

.tile:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: -4px 0px 20px rgba(0, 0, 0, 0.05);
}

.tile:hover .title,
.tile:hover .info-text {
    translate: 0px 0px;
}

.table thead tr {
    --bs-table-bg: var(--color-secondary) !important;
}

.table thead tr th {
    font-weight: 500;
    color: var(--bs-gray-700);
    white-space: nowrap;
}

.table tr td,
.table tr th {
    border-color: var(--color-border);
    padding: .55rem var(--table-cell-padding) !important;
}

.table thead tr:first-child {
    border-bottom: none !important;
}

.dataTables_filter {
    margin-bottom: 1rem;
    float: unset !important;
}

.status-badge {
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.75rem;
}

.status-success {
    background: rgba(var(--color-success), .13);
    color: rgb(var(--color-success));
}

.status-warning {
    background: rgba(var(--color-warning), .13);
    color: rgb(var(--color-warning))
}

.status-danger {
    background: rgba(var(--color-danger), .13);
    color: rgb(var(--color-danger))
}

.modal-backdrop {
    --bs-backdrop-bg: #ffffff2b;
    --bs-backdrop-opacity: 1;
    background-color: var(--bs-backdrop-bg);
    backdrop-filter: blur(4px);
}

.select2-container .select2-selection--single {
    height: 38px;
    padding: 6px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 24px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

.d-print {
    display: none !important;
}

/* bootstrap overriding */
.form-control {
    min-width: 100px;
}

@media (width <=768px) {
    nav #burger-icon {
        display: unset;
    }

    aside {
        z-index: 99;
        right: -100vw;
        box-shadow: -4px 0px 40px rgba(0, 0, 0, 0.205);
        transition: all 200ms;
    }

    aside.show {
        right: 0;
    }

    body>footer,
    #content {
        margin-left: 0;
    }
}

@media print {
    .d-print {
        display: unset !important;
    }

    aside,
    footer,
    nav,
    .d-print-none {
        display: none !important;
    }

    table,
    body,
    main,
    #content,
    .card,
    .container {
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
        min-width: unset !important;
        max-width: unset !important;
    }

    table tbody tr td input {
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
        background-color: transparent !important;
    }
}
